{{#each shoppingCart.rentals as |rental|}}
  {{rental.owner}} price ${{rental.cost}} per night
      <button class="btn btn-primary btn-sm" {{action 'remove' item}}>remove</button> <br>
{{/each}}

<!-- {{#each rentalPriceArray as |cost|}}
  <h3>{{cost}}</h3>
{{/each}} -->
<!-- **This is how to display cost only from mapBy() -->

<hr>

<h3 class="total"> Total price for all properties:</h3>
<h2 class="price">${{totalRentalPrice}} per night.</h2>
