<!-- set a property, addNewRental to true/false
- When True, form will show.
- False, the button will show.  -->

{{#if addNewRental}}
  <!-- <p>
    Display new rental form - to be replaced with form code soon
  </p> after add function in new-rental.js now add: -->
  <h1>New Rental</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="owner">Owner: </label>
        <!-- put input in {{input}} helper that comes w/Ember which allow us to pass attributes, in this case we're only using value & id attributes; works like <input> -->
        {{input value=owner id="owner"}}
      </div>
      <div class="form-group">
        <label for="type">Type: </label>
        {{input value=type id="type"}}
      </div>
      <div class="form-group">
        <label for="city">City: </label>
        {{input value=city id="city"}}
      </div>
      <div class="form-group">
        <label for="bedrooms">Number of Bedrooms: </label>
        {{input value=bedrooms id="bedrooms"}}
      </div>
      <div class="form-group">
        <label for="image">Image URL: </label>
        {{input value=image id="image"}}
      </div>
      <div class="form-group">
        <label for="cost">Price/night: </label>
        {{input value=cost  id="cost"}}
      </div>
      <!-- add Save form button -->
      <button {{action 'saveRental1'}}>Save</button>
      <!-- now we can add function in new-rental.js -->
    </form>

  </div>
{{else}}
  <button {{action 'rentalFormShow'}}>Create New Rental</button>
{{/if}}
