Located in {{rental.city}}, this {{rental.bedrooms}} bedrooms {{rental.type}} is available by arrangement through {{rental.owner}}.
<br>
<p>
  <img src="{{rental.image}}" alt="rental.type">
</p>
<!-- Add Display review inside the rental -->
<h2>REVIEWS </h2>
<ul>
  {{#each rental.reviews as |review|}}
  <!-- add review-tile.hbs here to display inside the rental-detail, once for each review -->
    {{review-tile review=review}}
  {{/each}}
  <!-- We'll add code to review-tile.hbs next -->
</ul>

<button {{action 'delete' rental}}>Delete</button>

<!-- //Refactoring:
//This page displays individual rental  details,
user's interactions w/a rental will occur on this route.
In addition to dispaying rental details, let's also move our updat() & delete() actions into this route, instead of the index. -->
<!-- Next we'll need to add delete() action to app/components/rental-detail.js -->
