<form>
  {{input class="form-control" value=fName key-press="updateFName"}}
</form>
<form>
  {{input class="form-control" value=lName key-press="updateLName"}}
</form>
<h3>{{fName}} {{lName}} = {{fullName}}</h3>
