{{#if updateRentalForm}}
<!-- we added property called updateRentalForm to toggle the form's display.  -->
  <h4>Update {{rental.owner}}'s{{rental.type}}</h4>
  <div>
    <form>
      <div class="form-group">
        <label for="owner">OWNER</label>
        {{input value=owner id="owner" placeholder=rental.owner}}
        <!-- placeholder to pre propulated the owner's name -->
      </div>
      <div class="form-group">
        <label for="type">TYPE </label>
        {{input value=type id="type" placeholder=rental.type}}
      </div>
      <div class="form-group">
        <label for="city">City </label>
        {{input value=city id="city" placeholder=rental.city}}
      </div>
      <div class="form-group">
        <label for="bedrooms">Bedrooms</label>
        {{input value=bedrooms id="bedrooms" placeholder=rental.bedrooms}}
      </div>
      <div class="form-group">
        <label for="image">Image URL</label>
        {{input value=image id="image" placeholder=rental.image}}
      </div>
      <!-- add Save btn of new update form. We bound the action update to "save" btn. When the user fills out the form and clicks "save" the update action in the update-rental.js will be triggered. -->
      <button {{action 'update' rental}}>Save</button>
    </form>
  </div>
{{else}}
    <!-- add Update btn to show form to update-->
  <button {{action 'updateRentalForm'}}>Update</button>
{{/if}}

<!-- Property called updateRentalForm to toggle the form's display. When this property is false, we'll see update button. Once update btn is clicked will set this property to True. We'll write that in update-rental.js -->
