<h1> Welcome to Super Rentals </h1>

We hope you find exactly what you're looking for in a place to stay.

<ul>
  <!-- b/c we have multiple models now, we need to use model.(dot notation) to specify which one we refer to -->
  {{#each model.rentals as |rental|}}
     <!-- <li>{{rental.owner}}'s {{rental.type}} in {{rental.city}}</li> move these to rental-tile.js & replace it with -->
     <!-- |rental| = |rental-from-template| -->
     <!-- {{rental-tile rental=rental update="update" destroyRental="destroyRental"}} moved to rental.hbs-->
     <!-- left rental refer to rental-in-component w/in its template which in this case is *template/components/rental-tile.hbs
        right rental refer to rental-from-template w/in **index template-->
      <!-- add destroyRental="destroyRental", we r mapping the destroyRental() action coming up from the component(on the left of =) to the destroyRental() action on the route handler that we'll write next. -->
     {{rental-tile rental=rental}}
      <!-- moved UPDate & destroyRental to rental-tile.hbs -->
  {{/each}}
</ul>

{{new-rental saveRental2="saveRental3"}}
<!-- this is not required naming convention. The Action name w/number just emphasize the individual steps that happen when passing an action up from component through template & into a route. now run ember g component new-rental to create new components for both app & template. So we can  define new-rental & btn to add new rental form & handle new rental form submissions  -->

<!-- add model.reviews -->

<h2>ALL REVIEWS </h2>
<ul>
  {{#each model.reviews as |review|}}
    <li>{{review.rating}} - {{review.content}} - by {{review.author}}</li>
  {{/each}}
</ul>

<!-- {{new-review saveReview ="saveReview"}} after add the review to rental model now we need to move this to rental.hbs-->

<!-- Our index.hbs template now shows a list of all rentals and all reviews. but firebase doesn't have any reviews yet. So we need to update existing rentals.json seed file and import it to firebase database.  -->
<hr>

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}

<!-- instead of displaying the rental detail drectly on the index template, we're rendering our new component by calling {{rental-tile rental=rental}}
**Note** Components R completely isolated from their surroundings.  They don't automatically hv access to models & other info w/in context of route in which they're called. Anything that a component needs from its surroundings must be passed in Manually-->

<!-- |rental| = individual rental object in the current iteration of the loop also refer to variable rental in the compenent's file as the model obj. -->

<!-- rental on the left of the (=) refers to the variable name used w/in the component w/in its own template-->

<!-- rental on the right refer to the MODEL OBJ we're assigning this variable to w/in index template -->

<!--**Note rental=rental to make it consistent w/the name which mean refering to the same data but in different file either in the template or component files  -->
  
